main > button {
  height: 3rem;
  width: 100%;
  font-weight: bold;
}
body {
  font-family: verdana;
}
button {
  height: 2rem;
}

li button:first-child {
  background-color: tomato;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 0.5rem;
  list-style-type: none;
  display: flex;
  border: solid 1px gray;
  margin: 1rem;
  align-items: center;
}
li > * {
  display: flex;
  margin: 1rem;
  align-items: center;
}

h1,
h2 {
  text-align: center;
}
